<script type="text/html" id="milkTmp">
	<%for(var n=0;n<data.act_info[5].act_rows[1].category_detail.goods.length;n++){%>
		<figure>
				<img src="<%=data.act_info[5].act_rows[1].category_detail.goods[n].img%>" alt="" />				
				<figcaption>
					<p><%=data.act_info[5].act_rows[1].category_detail.goods[n].name%></p>
					<span>精选</span>
					<b><small><%=data.act_info[5].act_rows[1].category_detail.goods[n].pm_desc%></small></b>
					<p><%=data.act_info[5].act_rows[1].category_detail.goods[n].specifics%></p>
					<i><%=data.act_info[5].act_rows[1].category_detail.goods[n].partner_price%></i>
				</figcaption>
				<div class="addcar">+</div>
		</figure>
	<%}%>
</script>